@import url(//fonts.googleapis.com/css?family=Vibur);
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets//images/background-image.webp");
  background-size: cover;
  color: white;
  gap: 30px;
}

.home-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.home-title p {
  font: bold 40px "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}

.home-title p:first-of-type {
  font-size: 55px;
}

.home-turning-on-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-turning-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.home-turning-on span {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 10px 13px 10px 13px;
  border: 2px solid #fff;
  border-radius: 8px;
  text-transform: uppercase;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f40, 0 0 0.5em #f40,
    0 0 0.1em #f40, 0 10px 3px #000;
  box-shadow: 0 0 0.5rem #08f, inset 0 0 0.5rem #08f;
}

.home-turning-on button {
  background: none;
  border: none;
  color: white;
  transition: transform 0.3s;
  transition: all 0.2s ease-in-out;
}

.home-turning-on button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .home-title p {
    font-size: 30px;
  }

  .home-title p:first-of-type {
    font-size: 35px;
  }

  .home-turning-on span {
    font-size: 18px;
  }
}

@media screen and (max-width: 340px) {
  .home-title p {
    font-size: 26px;
  }

  .home-title p:first-of-type {
    font-size: 28px;
  }

  .home-turning-on span {
    font-size: 15px;
  }
}
