.turning-on-screen {
  width: 95%;
  height: 77%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /*
    Estos estilos van inline en iphone
    background-image: url("./Iphone\ 6\ wallpaper.jpg");
    background-size: cover;
    color: white; 
    */
}

.turning-on-screen img {
  width: 70px;
}

.turning-on-screen p {
  font-size: 12px;
  color: white;
}

.apple-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.apple-text p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.white {
  color: white;
}
